:root{
   --prim: #26292e;
   --sec: rgb(226, 125, 142);
   --tert: white;
   --btncolor: #213349;
   --font1: "sofia", cursive;
   --font2: "Roboto", san-serif;
}

*{box-sizing: border-box;}

/* tag names */

body{
    margin: 0;
    padding: 0;
    font-family: var(--font2);
    background-color: var(--tert);    
}

/* classes */

.column{
    padding: 20px;
}



.footer{
    border: 10px;
    background-color: #333;
}


.heading{
    font-family: var(--font1);
}

.h3{
    padding: 20px;
}
.product{
    max-width: 350px;
    height: 200px;  
    background-color: #333;
    border: 10px solid #ddd;
   gap: 20px; /* Adds 20px space between columns and rows */
      }
      

.section2, .section3{
    padding: 40px;
}

/* ids */


#header{
    padding: 8px 0;
    color: #fdfdfd;
    background-color: #29262e;
}

#section1 {
    padding: 30px 0;
    background-color: var(--sec);
}

#section2 {
    padding: 20px 0;
}